version: 2
jobs:
  deploy_production:
    docker:
       - image: circleci/ruby:2.4.1-node-browsers
    steps:
      - checkout
      - run:
          name: install jekyll bundler
          command: sudo gem install jekyll bundler
      - run:
          name: install deps
          command: sudo bundle install
      - run:
          name: production
          command: JEKYLL_ENV=production bundle exec jekyll build
      - store_artifacts:
          path: /_site

  deploy_production_infrastructure:
    docker:
      - image: hashicorp/terraform:latest
    steps:
      - checkout
      - run:
          name: deploy infrastructure
          command: cd infrastructure && terraform apply
      - run:
          name: install pip
          command: sudo apt-get install python-pip
      - run:
          name: install aws cli
          command: sudo pip install awscli --upgrade --user
      - run:
          name: deploy site to s3
          command: aws s3 sync ./_site s3://${site_bucket_name}/


workflows:
  version: 2
  build_and_deploy:
    jobs:
      - deploy_production:
          filters:
            branches:
              only:
                - master
