version: 2
jobs:
  build:
    docker:
       - image: circleci/ruby:2.4.1-node-browsers
    steps:
      - checkout
      - run:
          name: install jekyll bundler
          command: sudo gem install jekyll bundler
      - run:
          name: install deps
          command: bundle install
      - run:
          name: production
          command: JEKYLL_ENV=production bundle exec jekyll build
      - store_artifacts:
          path: ./_site

  deploy:
    docker:
      - image: hashicorp/terraform:latest
    steps:
      - checkout
      - run:
          name: ls
          command: lgs
      - run:
          name: deploy infrastructure
          command: cd infrastructure && terraform init && (terraform workspace select ${CIRCLE_BRANCH} || terraform workspace new ${CIRCLE_BRANCH}) && terraform apply -var region=$REGION} -var namespace=${NAMESPACE} -auto-approve
      - run:
          name: install sudo
          command: apk add sudo
      - run:
          name: install python
          command: apk add python
      - run:
          name: install aws cli
          command: curl "https://s3.amazonaws.com/aws-cli/awscli-bundle.zip" -o "awscli-bundle.zip" && unzip awscli-bundle.zip && sudo ./awscli-bundle/install -i /usr/local/aws -b /usr/local/bin/aws
      - run:
          name: deploy site to s3
          command: aws s3 sync ./_site s3://${site_bucket_name}/


workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build:
      - deploy:
          requires:
            - build
